* {
  font-family: 'Noto Sans', sans-serif;
}

.header-color {
  background-color: #fff;
}

.flex-wrap {
  flex-wrap: wrap;
}

#arknights-logo {
  width: 12em;
  padding: 1em 0;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.logo {
  padding: 0 2.5rem;
}

.header-button {
  width: 18em;
  height: 3em;
  font-size: 9px;
  color: #fff;
  background-color: #000;
  border-radius: 15px;
  text-align: center;
  margin: 0 2em;
}

.tabs {
  margin: auto;
  font-weight: 400;
}

.justify-content-center {
  justify-content: center;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

div {
  border: 1px solid red;
}

.operators-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: block;
  padding: 1rem;
}

.ops {
  width: 5rem;
}

.classes {
  width: 40px;
  height: 40px;
}

.flex-basis-4 {
  flex-basis: 25%;
}

.justify-content-even {
  justify-content: space-evenly;
}

.class-box {
  background-color: #d9d9d9;
  width: 110px;
  height: 63px;
  text-align: center;
}

.class-text {
  color: black;
  font-size: 12px;
  margin: auto;
  font-weight: 550;
}
